include/xml/student_call-2_0_1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: student_call-2_0_1.dtd,v 1.1.2.1 2005-10-20 15:23:16 brucelyc Exp $ -->
<!-- ??其?撟港?鞎怨玨蝔飛??蝮曇???摮貊??餃?鞈?鈭斗?閬璅?銋飛?飛蝐???DTD 2.0 ? 2005.01.11 靽格迤??->
<!-- 摮貊?摮貊?鞈? DTD 鞈?韏瑕? -->
<!ELEMENT 摮貊?鈭斗?鞈? (摮貊??箸鞈?+)>
<!-- 1.摮貊??箸鞈? 韏瑕? -->
<!ELEMENT 摮貊??箸鞈? (?箸鞈?, 摮豢?鞈?, ?啣?鞈?, ?葉鞈??)>
<!ELEMENT ?箸鞈? (摮貊?憪?, 摮貊??批, 摮貊??, ?曉撟渡?, ?曉?剔?, ?曉摨扯?, 摮貊?頨思遢?? 頨怠?霅??? ??窗鞈?, 銝剛??蝐?, 摮貊??剔??扯釭, ?亙飛???脰??? ?Ｖ耨璆剜???? ?嗉扛?箸鞈?, 瘥扛?箸鞈?, 蟡?箸鞈?, 蟡??箸鞈?, ??風鈭? ??憪此, ?嗡?閬芸惇, 頛???鞈?)>
<!ELEMENT 摮貊?憪? (#PCDATA)>
<!ELEMENT 摮貊??批 (#PCDATA)>
<!ELEMENT 摮貊?? (#PCDATA)>
<!ELEMENT ?曉撟渡? (#PCDATA)>
<!ELEMENT ?曉?剔? (#PCDATA)>
<!ELEMENT ?曉摨扯? (#PCDATA)>
<!ELEMENT 摮貊?頨思遢??(摮貊?頨思遢?北鞈??批捆+)>
<!ELEMENT 摮貊?頨思遢?北鞈??批捆 (摮貊?頨思遢?北憿, 摮貊?頨思遢?北?酉)>
<!ELEMENT 摮貊?頨思遢?北憿 (#PCDATA)>
<!ELEMENT 摮貊?頨思遢?北?酉 (#PCDATA)>
<!ELEMENT 頨怠?霅???(??, 霅蝔桅?, 霅?Ⅳ, ????>
<!ELEMENT ?? (#PCDATA)>
<!ELEMENT 霅蝔桅? (#PCDATA)>
<!ELEMENT 霅?Ⅳ (#PCDATA)>
<!ELEMENT ????(#PCDATA)>
<!ELEMENT ??窗鞈? (?嗥??啣?, ???啣?, ???餉店, 銵??餉店)>
<!ELEMENT ?嗥??啣? (?嗥??啣?_蝮??, ?嗥??啣?_?撣?, ?嗥??啣?_??, ?嗥??啣?_?? ?嗥??啣?_?嗡?)>
<!ELEMENT ?嗥??啣?_蝮?? (#PCDATA)>
<!ELEMENT ?嗥??啣?_?撣? (#PCDATA)>
<!ELEMENT ?嗥??啣?_?? (#PCDATA)>
<!ELEMENT ?嗥??啣?_??(#PCDATA)>
<!ELEMENT ?嗥??啣?_?嗡? (#PCDATA)>
<!ELEMENT ???啣? (???啣?_蝮??, ???啣?_?撣?, ???啣?_??, ???啣?_?? ???啣?_?嗡?)>
<!ELEMENT ???啣?_蝮?? (#PCDATA)>
<!ELEMENT ???啣?_?撣? (#PCDATA)>
<!ELEMENT ???啣?_?? (#PCDATA)>
<!ELEMENT ???啣?_??(#PCDATA)>
<!ELEMENT ???啣?_?嗡? (#PCDATA)>
<!ELEMENT ???餉店 (#PCDATA)>
<!ELEMENT 銵??餉店 (#PCDATA)>
<!ELEMENT 銝剛??蝐? (蝮???? ?撣??? ??, ?? 頝航?, 畾? 撌? 撘? ?? 銋? 璅? 璅?, ?嗡?)>
<!ELEMENT 蝮????(#PCDATA)>
<!ELEMENT ?撣???(#PCDATA)>
<!ELEMENT ?? (#PCDATA)>
<!ELEMENT ??(#PCDATA)>
<!ELEMENT 頝航? (#PCDATA)>
<!ELEMENT 畾?(#PCDATA)>
<!ELEMENT 撌?(#PCDATA)>
<!ELEMENT 撘?(#PCDATA)>
<!ELEMENT ??(#PCDATA)>
<!ELEMENT 銋?(#PCDATA)>
<!ELEMENT 璅?(#PCDATA)>
<!ELEMENT 璅? (#PCDATA)>
<!ELEMENT ?嗡? (#PCDATA)>
<!ELEMENT 摮貊??剔??扯釭 (?剔??扯釭, ?寞??剝??? ?寞??剔?? ?寞??凋?隤脫扯釭)>
<!ELEMENT ?剔??扯釭 (#PCDATA)>
<!ELEMENT ?寞??剝???(#PCDATA)>
<!ELEMENT ?寞??剔??(#PCDATA)>
<!ELEMENT ?寞??凋?隤脫扯釭 (#PCDATA)>
<!ELEMENT ?亙飛???脰???(撟潛??摮?| ???亙飛)>
<!ELEMENT 撟潛??摮?(撟潛??摮貉??? 撟潛????典飛?∩誨蝣? 撟潛??摮豢?迂)?>
<!ELEMENT 撟潛??摮貉???(#PCDATA)>
<!ELEMENT 撟潛????典飛?∩誨蝣?(#PCDATA)>
<!ELEMENT 撟潛??摮豢?迂 (#PCDATA)>
<!ELEMENT ???亙飛 (???亙飛鞈, ??_??典飛?∩誨蝣? ??_摮豢?迂)?>
<!ELEMENT ???亙飛鞈 (#PCDATA)>
<!ELEMENT ??_??典飛?∩誨蝣?(#PCDATA)>
<!ELEMENT ??_摮豢?迂 (#PCDATA)>
<!ELEMENT ?Ｖ耨璆剜????(?Ｖ耨璆剖, ?Ｖ耨璆茁?交?, ?Ｖ耨璆茁摮? ?Ｖ耨璆茁??>
<!ELEMENT ?Ｖ耨璆剖 (#PCDATA)>
<!ELEMENT ?Ｖ耨璆茁?交? (#PCDATA)>
<!ELEMENT ?Ｖ耨璆茁摮?(#PCDATA)>
<!ELEMENT ?Ｖ耨璆茁??(#PCDATA)>
<!ELEMENT ?嗉扛?箸鞈? (?嗉扛_憪?, ?嗉扛_?箇?撟湔活, ?嗉扛_摮倍, ???, ?嗉扛_頨怠?霅?, ?嗉扛_?蝔漲, ?嗉扛_?瑟平, ?嗉扛_???桐?, ?嗉扛_?瑞迂, ?嗉扛_?餉店?Ⅳ-?? ?嗉扛_?餉店?Ⅳ-摰? ?嗉扛_銵??餉店, ?嗉扛_?餃??萎辣靽∠拳)>
<!ELEMENT ?嗉扛_憪? (#PCDATA)>
<!ELEMENT ?嗉扛_?箇?撟湔活 (#PCDATA)>
<!ELEMENT ?嗉扛_摮倍 (#PCDATA)>
<!ELEMENT ??? (#PCDATA)>
<!ELEMENT ?嗉扛_頨怠?霅? (#PCDATA)>
<!ELEMENT ?嗉扛_?蝔漲 (#PCDATA)>
<!ELEMENT ?嗉扛_?瑟平 (#PCDATA)>
<!ELEMENT ?嗉扛_???桐? (#PCDATA)>
<!ELEMENT ?嗉扛_?瑞迂 (#PCDATA)>
<!ELEMENT ?嗉扛_?餉店?Ⅳ-??(#PCDATA)>
<!ELEMENT ?嗉扛_?餉店?Ⅳ-摰?(#PCDATA)>
<!ELEMENT ?嗉扛_銵??餉店 (#PCDATA)>
<!ELEMENT ?嗉扛_?餃??萎辣靽∠拳 (#PCDATA)>
<!ELEMENT 瘥扛?箸鞈? (瘥扛_憪?, 瘥扛_?箇?撟湔活, 瘥扛_摮倍, ????, 瘥扛_頨怠?霅?, 瘥扛_?蝔漲, 瘥扛_?瑟平, 瘥扛_???桐?, 瘥扛_?瑞迂, 瘥扛_?餉店?Ⅳ-?? 瘥扛_?餉店?Ⅳ-摰? 瘥扛_銵??餉店, 瘥扛_?餃??萎辣靽∠拳)>
<!ELEMENT 瘥扛_憪? (#PCDATA)>
<!ELEMENT 瘥扛_?箇?撟湔活 (#PCDATA)>
<!ELEMENT 瘥扛_摮倍 (#PCDATA)>
<!ELEMENT ???? (#PCDATA)>
<!ELEMENT 瘥扛_頨怠?霅? (#PCDATA)>
<!ELEMENT 瘥扛_?蝔漲 (#PCDATA)>
<!ELEMENT 瘥扛_?瑟平 (#PCDATA)>
<!ELEMENT 瘥扛_???桐? (#PCDATA)>
<!ELEMENT 瘥扛_?瑞迂 (#PCDATA)>
<!ELEMENT 瘥扛_?餉店?Ⅳ-??(#PCDATA)>
<!ELEMENT 瘥扛_?餉店?Ⅳ-摰?(#PCDATA)>
<!ELEMENT 瘥扛_銵??餉店 (#PCDATA)>
<!ELEMENT 瘥扛_?餃??萎辣靽∠拳 (#PCDATA)>
<!ELEMENT 蟡?箸鞈? (蟡_憪?, 蟡_摮倍)>
<!ELEMENT 蟡_憪? (#PCDATA)>
<!ELEMENT 蟡_摮倍 (#PCDATA)>
<!ELEMENT 蟡??箸鞈? (蟡?_憪?, 蟡?_摮倍)>
<!ELEMENT 蟡?_憪? (#PCDATA)>
<!ELEMENT 蟡?_摮倍 (#PCDATA)>
<!ELEMENT ??風鈭?(??風鈭榕憪?, ?霅瑚犖銋?靽? ??風鈭榕頨怠?霅?, ??風鈭榕?啣?, ??風鈭榕???桐?, ??風鈭榕?瑞迂, ??風鈭榕??窗?餉店, ??風鈭榕銵??餉店, ??風鈭榕?餃??萎辣靽∠拳)>
<!ELEMENT ??風鈭榕憪? (#PCDATA)>
<!ELEMENT ?霅瑚犖銋?靽?(#PCDATA)>
<!ELEMENT ??風鈭榕頨怠?霅? (#PCDATA)>
<!ELEMENT ??風鈭榕?啣? (#PCDATA)>
<!ELEMENT ??風鈭榕???桐? (#PCDATA)>
<!ELEMENT ??風鈭榕?瑞迂 (#PCDATA)>
<!ELEMENT ??風鈭榕??窗?餉店 (#PCDATA)>
<!ELEMENT ??風鈭榕銵??餉店 (#PCDATA)>
<!ELEMENT ??風鈭榕?餃??萎辣靽∠拳 (#PCDATA)>
<!ELEMENT ??憪此 (??憪此_鞈??批捆*)>
<!ELEMENT ??憪此_鞈??批捆 (??憪此_蝔梯?, ??憪此_憪?, ??憪此_撠梯?摮豢)>
<!ELEMENT ??憪此_蝔梯? (#PCDATA)>
<!ELEMENT ??憪此_憪? (#PCDATA)>
<!ELEMENT ??憪此_撠梯?摮豢 (#PCDATA)>
<!ELEMENT ?嗡?閬芸惇 (?嗡?閬芸惇_鞈??批捆*)>
<!ELEMENT ?嗡?閬芸惇_鞈??批捆 (?嗡?閬芸惇_憪?, ?嗡?閬芸惇_蝔梯?, ?嗡?閬芸惇_??窗?餉店, ?嗡?閬芸惇_銵??餉店, ?嗡?閬芸惇_?餃??萎辣靽∠拳)>
<!ELEMENT ?嗡?閬芸惇_憪? (#PCDATA)>
<!ELEMENT ?嗡?閬芸惇_蝔梯? (#PCDATA)>
<!ELEMENT ?嗡?閬芸惇_??窗?餉店 (#PCDATA)>
<!ELEMENT ?嗡?閬芸惇_銵??餉店 (#PCDATA)>
<!ELEMENT ?嗡?閬芸惇_?餃??萎辣靽∠拳 (#PCDATA)>
<!ELEMENT 頛???鞈? (??蝺刻?, ??靘?, ?交??交?, 隤??葦, ??憿, ?榆銵, ?拇?銝??, 蝯??? 蝯???, 蝯??交?, 頛???蝝?? ???蝺刻?)>
<!ELEMENT ??蝺刻? (#PCDATA)>
<!ELEMENT ??靘? (#PCDATA)>
<!ELEMENT ?交??交? (#PCDATA)>
<!ELEMENT 隤??葦 (#PCDATA)>
<!ELEMENT ??憿 (#PCDATA)>
<!ELEMENT ?榆銵 (#PCDATA)>
<!ELEMENT ?拇?銝?? (#PCDATA)>
<!ELEMENT 蝯???(#PCDATA)>
<!ELEMENT 蝯??? (#PCDATA)>
<!ELEMENT 蝯??交? (#PCDATA)>
<!ELEMENT 頛???蝝??(頛???蝝?鞈??批捆+)>
<!ELEMENT 頛???蝝?鞈??批捆 (頛??交?, 頛??批捆)>
<!ELEMENT 頛??交? (#PCDATA)>
<!ELEMENT 頛??批捆 (#PCDATA)>
<!ELEMENT ???蝺刻? (#PCDATA)>
<!-- 1.摮貊??箸鞈? 蝯? -->
<!-- 2.摮貊?摮豢?鞈? 韏瑕? -->
<!ELEMENT 摮豢?鞈? (?摮豢?鞈?+)>
<!ELEMENT ?摮豢?鞈? (摮詨僑?? 摮豢??? ?剔?摨扯?, ?撘蝝? 摮豢??蜀, ?亙虜?暑銵函, ?寞??芾銵函, 敹?皜祇?, 頛?蝝?? 頛?閮芾?蝝??>
<!ELEMENT 摮詨僑??(#PCDATA)>
<!ELEMENT 摮豢???(#PCDATA)>
<!ELEMENT ?剔?摨扯? (撟渡?, ?剔?, 摨扯?)>
<!ELEMENT 撟渡? (#PCDATA)>
<!ELEMENT ?剔? (#PCDATA)>
<!ELEMENT 摨扯? (#PCDATA)>
<!ELEMENT ?撘蝝?(?撘撟渡?, ?撘?剔?, ?撘摨扯?)>
<!ELEMENT ?撘撟渡? (#PCDATA)>
<!ELEMENT ?撘摨扯? (#PCDATA)>
<!ELEMENT ?撘?剔? (#PCDATA)>
<!ELEMENT 摮豢??蜀 (隤?_摮貊????曉??嗆?蝮? 隤?_摮貊??????膩, ?砍?隤??曉??嗆?蝮? ??隤??曉??嗆?蝮? ??隤?憿, ?梯??曉??嗆?蝮? ?詨飛_摮貊????曉??嗆?蝮? ?詨飛_摮貊??????膩, ?芰??瘣餌??_摮貊????曉??嗆?蝮? ?芰??瘣餌??_摮貊??????膩, 蝷暹?_摮貊????曉??嗆?蝮? 蝷暹?_摮貊??????膩, ?亙熒???淪摮貊????曉??嗆?蝮? ?亙熒???淪摮貊??????膩, ???犖?摮貊????曉??嗆?蝮? ???犖?摮貊??????膩, ?暑隤脩?_摮貊????曉??嗆?蝮? ?暑隤脩?_摮貊??????膩, 蝬?瘣餃?_摮貊????曉??嗆?蝮? 蝬?瘣餃?_摮貊??????膩, 敶扳???)>
<!ELEMENT 隤?_摮貊????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT 隤?_摮貊??????膩 (#PCDATA)>
<!ELEMENT ?砍?隤??曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ??隤??曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ??隤?憿 (#PCDATA)>
<!ELEMENT ?梯??曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?詨飛_摮貊????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?詨飛_摮貊??????膩 (#PCDATA)>
<!ELEMENT ?芰??瘣餌??_摮貊????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?芰??瘣餌??_摮貊??????膩 (#PCDATA)>
<!ELEMENT 蝷暹?_摮貊????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT 蝷暹?_摮貊??????膩 (#PCDATA)>
<!ELEMENT ?亙熒???淪摮貊????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?亙熒???淪摮貊??????膩 (#PCDATA)>
<!ELEMENT ???犖?摮貊????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ???犖?摮貊??????膩 (#PCDATA)>
<!ELEMENT ?暑隤脩?_摮貊????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?暑隤脩?_摮貊??????膩 (#PCDATA)>
<!ELEMENT 蝬?瘣餃?_摮貊????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT 蝬?瘣餃?_摮貊??????膩 (#PCDATA)>
<!ELEMENT 敶扳???(敶扳??筷??蝘+)>
<!ELEMENT 敶扳??筷??蝘 (敶扳??筷蝘?迂, 敶扳??筷蝘?曉??嗆?蝮?>
<!ELEMENT 敶扳??筷蝘?迂 (#PCDATA)>
<!ELEMENT 敶扳??筷蝘?曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?亙虜?暑銵函 (?亙虜?暑銵函_?曉??嗆?蝮? ?亙虜?暑銵函_???膩, 摮豢??箇撩撣茁?撣剜?? 摮豢??箇撩撣茁鈭??? 摮豢??箇撩撣茁???? 摮豢??箇撩撣茁?玨?? 摮豢??箇撩撣茁?嗡??, 摮豢??箇撩撣茁?桐?)>
<!ELEMENT ?亙虜?暑銵函_?曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?亙虜?暑銵函_???膩 (#PCDATA)>
<!ELEMENT 摮豢??箇撩撣茁?撣剜??(#PCDATA)>
<!ELEMENT 摮豢??箇撩撣茁鈭???(#PCDATA)>
<!ELEMENT 摮豢??箇撩撣茁????(#PCDATA)>
<!ELEMENT 摮豢??箇撩撣茁?玨??(#PCDATA)>
<!ELEMENT 摮豢??箇撩撣茁?嗡?? (#PCDATA)>
<!ELEMENT 摮豢??箇撩撣茁?桐? (#PCDATA)>
<!ELEMENT ?寞??芾銵函 (?芾銵函鈭?+)>
<!ELEMENT ?芾銵函鈭? (?芾銵函_?交?, ?芾銵函_鈭)>
<!ELEMENT ?芾銵函_?交? (#PCDATA)>
<!ELEMENT ?芾銵函_鈭 (#PCDATA)>
<!ELEMENT 敹?皜祇? (敹?皜祇?_鞈??批捆+)>
<!ELEMENT 敹?皜祇?_鞈??批捆 (敹?皜祇?_?迂, 敹?皜祇?_???, 敹?皜祇?_撣豢芋璅?, 敹?皜祇?_璅??, 敹?皜祇?_?曉?蝑?, 敹?皜祇?_閫??)>
<!ELEMENT 敹?皜祇?_?迂 (#PCDATA)>
<!ELEMENT 敹?皜祇?_??? (#PCDATA)>
<!ELEMENT 敹?皜祇?_撣豢芋璅? (#PCDATA)>
<!ELEMENT 敹?皜祇?_璅?? (#PCDATA)>
<!ELEMENT 敹?皜祇?_?曉?蝑? (#PCDATA)>
<!ELEMENT 敹?皜祇?_閫?? (#PCDATA)>
<!ELEMENT 頛?蝝??(?嗆???, 摰嗅滬瘞??, ?嗥恣?撘? 瘥恣?撘? 撅??耦, 蝬??瘜? ???摮貊???, ??圈摮貊???, ?寞??, ?閎, ?暑蝧, 鈭粹???, 憭?銵, ?批?銵, 摮貊?銵, 銝蝧, ?行銵)>
<!ELEMENT ?嗆??? (#PCDATA)>
<!ELEMENT 摰嗅滬瘞?? (#PCDATA)>
<!ELEMENT ?嗥恣?撘?(#PCDATA)>
<!ELEMENT 瘥恣?撘?(#PCDATA)>
<!ELEMENT 撅??耦 (#PCDATA)>
<!ELEMENT 蝬??瘜?(#PCDATA)>
<!ELEMENT ???摮貊??? (???摮貊???_鞈??批捆+)>
<!ELEMENT ???摮貊???_鞈??批捆 (#PCDATA)>
<!ELEMENT ??圈摮貊??? (??圈摮貊???_鞈??批捆+)>
<!ELEMENT ??圈摮貊???_鞈??批捆 (#PCDATA)>
<!ELEMENT ?寞?? (?寞??_鞈??批捆+)>
<!ELEMENT ?寞??_鞈??批捆 (#PCDATA)>
<!ELEMENT ?閎 (?閎_鞈??批捆+)>
<!ELEMENT ?閎_鞈??批捆 (#PCDATA)>
<!ELEMENT ?暑蝧 (?暑蝧_鞈??批捆+)>
<!ELEMENT ?暑蝧_鞈??批捆 (#PCDATA)>
<!ELEMENT 鈭粹??? (鈭粹???_鞈??批捆+)>
<!ELEMENT 鈭粹???_鞈??批捆 (#PCDATA)>
<!ELEMENT 憭?銵 (憭?銵_鞈??批捆+)>
<!ELEMENT 憭?銵_鞈??批捆 (#PCDATA)>
<!ELEMENT ?批?銵 (?批?銵_鞈??批捆+)>
<!ELEMENT ?批?銵_鞈??批捆 (#PCDATA)>
<!ELEMENT 摮貊?銵 (摮貊?銵_鞈??批捆+)>
<!ELEMENT 摮貊?銵_鞈??批捆 (#PCDATA)>
<!ELEMENT 銝蝧 (銝蝧_鞈??批捆+)>
<!ELEMENT 銝蝧_鞈??批捆 (#PCDATA)>
<!ELEMENT ?行銵 (?行銵_鞈??批捆+)>
<!ELEMENT ?行銵_鞈??批捆 (#PCDATA)>
<!ELEMENT 頛?閮芾?蝝??(頛?閮芾?蝝?鞈??批捆+)>
<!ELEMENT 頛?閮芾?蝝?鞈??批捆 (蝝??? ??窗撠情, ??窗鈭?, ?批捆閬?)>
<!ELEMENT 蝝???(#PCDATA)>
<!ELEMENT ??窗撠情 (#PCDATA)>
<!ELEMENT ??窗鈭? (#PCDATA)>
<!ELEMENT ?批捆閬? (#PCDATA)>
<!-- 2.摮貊?摮豢?鞈? 蝯? -->
<!-- 3.摮貊??啣?鞈? 韏瑕? -->
<!ELEMENT ?啣?鞈? (?啣?鞈?_鞈??批捆+)>
<!ELEMENT ?啣?鞈?_鞈??批捆 (?停霈蝮??, ?停霈摮豢?迂, ?停霈摮豢隞?Ⅳ, ?啣??交?, ?啣??詨?璈??迂, ?啣???, ?詨???_?交?, ?詨???_摮? ?詨???_??>
<!ELEMENT ?停霈蝮?? (#PCDATA)>
<!ELEMENT ?停霈摮豢?迂 (#PCDATA)>
<!ELEMENT ?停霈摮豢隞?Ⅳ (#PCDATA)>
<!ELEMENT ?啣??交? (#PCDATA)>
<!ELEMENT ?啣??詨?璈??迂 (#PCDATA)>
<!ELEMENT ?啣??? (#PCDATA)>
<!ELEMENT ?詨???_?交? (#PCDATA)>
<!ELEMENT ?詨???_摮?(#PCDATA)>
<!ELEMENT ?詨???_??(#PCDATA)>
<!-- 3.摮貊??啣?鞈? 蝯? -->
<!-- 4.摮貊??葉鞈? 韏瑕? -->
<!ELEMENT ?葉鞈? (?葉蝻箏葉, ?葉?蜀, ?葉?, 蝷曉?瘣餃?)>
<!ELEMENT ?葉蝻箏葉 (?葉蝮賜撩撣茁鈭??? ?葉蝮賜撩撣茁???? ?葉蝮賜撩撣茁?玨?? ?葉蝮賜撩撣茁?嗡??, ?葉蝮賜撩撣茁?桐?, ?葉蝻箏葉_鞈??批捆)>
<!ELEMENT ?葉蝮賜撩撣茁鈭???(#PCDATA)>
<!ELEMENT ?葉蝮賜撩撣茁????(#PCDATA)>
<!ELEMENT ?葉蝮賜撩撣茁?玨??(#PCDATA)>
<!ELEMENT ?葉蝮賜撩撣茁?嗡?? (#PCDATA)>
<!ELEMENT ?葉蝮賜撩撣茁?桐? (#PCDATA)>
<!ELEMENT ?葉蝻箏葉_鞈??批捆 (?葉蝻箏葉_??鞈?+)>
<!ELEMENT ?葉蝻箏葉_??鞈? (?葉蝻箏葉_撟? ?葉蝻箏葉_?? ?葉蝻箏葉_鈭??? ?葉蝻箏葉_???? ?葉蝻箏葉_?玨?? ?葉蝻箏葉_?嗡??)>
<!ELEMENT ?葉蝻箏葉_撟?(#PCDATA)>
<!ELEMENT ?葉蝻箏葉_??(#PCDATA)>
<!ELEMENT ?葉蝻箏葉_鈭???(#PCDATA)>
<!ELEMENT ?葉蝻箏葉_????(#PCDATA)>
<!ELEMENT ?葉蝻箏葉_?玨??(#PCDATA)>
<!ELEMENT ?葉蝻箏葉_?嗡?? (#PCDATA)>
<!ELEMENT ?葉?蜀 (?葉?蜀_隤?, ?葉?蜀_?詨飛, ?葉?蜀_?芰??瘣餌??, ?葉?蜀_蝷暹?, ?葉?蜀_?亙熒???? ?葉?蜀_???犖?? ?葉?蜀_?暑隤脩?, ?葉?蜀_蝬?瘣餃?, ?葉?蜀_敶扳???>
<!ELEMENT ?葉?蜀_隤? (?葉?蜀_隤?鞈??批捆+)>
<!ELEMENT ?葉?蜀_隤?鞈??批捆 (?葉?蜀_隤???畾菔, ?葉?蜀_?砍?隤??曉??嗆?蝮? ?葉?蜀_?砍?隤????膩, ?葉?蜀_??隤??曉??嗆?蝮? ?葉?蜀_??隤????膩, ?葉?蜀_?梯??曉??嗆?蝮? ?葉?蜀_?梯????膩)>
<!ELEMENT ?葉?蜀_隤???畾菔 (#PCDATA)>
<!ELEMENT ?葉?蜀_?砍?隤??曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?葉?蜀_?砍?隤????膩 (#PCDATA)>
<!ELEMENT ?葉?蜀_??隤??曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?葉?蜀_??隤????膩 (#PCDATA)>
<!ELEMENT ?葉?蜀_?梯??曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?葉?蜀_?梯????膩 (#PCDATA)>
<!ELEMENT ?葉?蜀_?詨飛 (?葉?蜀_?詨飛鞈??批捆+)>
<!ELEMENT ?葉?蜀_?詨飛鞈??批捆 (?葉?蜀_?詨飛??畾菔, ?葉?蜀_?詨飛???曉??嗆?蝮? ?葉?蜀_?詨飛?????膩)>
<!ELEMENT ?葉?蜀_?詨飛??畾菔 (#PCDATA)>
<!ELEMENT ?葉?蜀_?詨飛???曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?葉?蜀_?詨飛?????膩 (#PCDATA)>
<!ELEMENT ?葉?蜀_?芰??瘣餌?? (?葉?蜀_?芰??瘣餌??鞈??批捆+)>
<!ELEMENT ?葉?蜀_?芰??瘣餌??鞈??批捆 (?葉?蜀_?芰??瘣餌????畾菔, ?葉?蜀_?芰??瘣餌?????曉??嗆?蝮? ?葉?蜀_?芰??瘣餌???????膩)>
<!ELEMENT ?葉?蜀_?芰??瘣餌????畾菔 (#PCDATA)>
<!ELEMENT ?葉?蜀_?芰??瘣餌?????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?葉?蜀_?芰??瘣餌???????膩 (#PCDATA)>
<!ELEMENT ?葉?蜀_蝷暹? (?葉?蜀_蝷暹?鞈??批捆+)>
<!ELEMENT ?葉?蜀_蝷暹?鞈??批捆 (?葉?蜀_蝷暹???畾菔, ?葉?蜀_蝷暹????曉??嗆?蝮? ?葉?蜀_蝷暹??????膩)>
<!ELEMENT ?葉?蜀_蝷暹???畾菔 (#PCDATA)>
<!ELEMENT ?葉?蜀_蝷暹????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?葉?蜀_蝷暹??????膩 (#PCDATA)>
<!ELEMENT ?葉?蜀_?亙熒????(?葉?蜀_?亙熒???脰??摰?)>
<!ELEMENT ?葉?蜀_?亙熒???脰??摰?(?葉?蜀_?亙熒???脤??挾?, ?葉?蜀_?亙熒???脤????蜀, ?葉?蜀_?亙熒???脤???摮?餈?>
<!ELEMENT ?葉?蜀_?亙熒???脤??挾? (#PCDATA)>
<!ELEMENT ?葉?蜀_?亙熒???脤????蜀 (#PCDATA)>
<!ELEMENT ?葉?蜀_?亙熒???脤???摮?餈?(#PCDATA)>
<!ELEMENT ?葉?蜀_???犖??(?葉?蜀_???犖???摰?)>
<!ELEMENT ?葉?蜀_???犖???摰?(?葉?蜀_???犖???挾?, ?葉?蜀_???犖?????蜀, ?葉?蜀_???犖????摮?餈?>
<!ELEMENT ?葉?蜀_???犖???挾? (#PCDATA)>
<!ELEMENT ?葉?蜀_???犖?????蜀 (#PCDATA)>
<!ELEMENT ?葉?蜀_???犖????摮?餈?(#PCDATA)>
<!ELEMENT ?葉?蜀_?暑隤脩? (?葉?蜀_?暑隤脩?鞈??批捆+)>
<!ELEMENT ?葉?蜀_?暑隤脩?鞈??批捆 (?葉?蜀_?暑隤脩???畾菔, ?葉?蜀_?暑隤脩????曉??嗆?蝮? ?葉?蜀_?暑隤脩??????膩)>
<!ELEMENT ?葉?蜀_?暑隤脩???畾菔 (#PCDATA)>
<!ELEMENT ?葉?蜀_?暑隤脩????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?葉?蜀_?暑隤脩??????膩 (#PCDATA)>
<!ELEMENT ?葉?蜀_蝬?瘣餃? (?葉?蜀_蝬?瘣餃?鞈??批捆+)>
<!ELEMENT ?葉?蜀_蝬?瘣餃?鞈??批捆 (?葉?蜀_蝬?瘣餃???畾菔, ?葉?蜀_蝬?瘣餃????曉??嗆?蝮? ?葉?蜀_蝬?瘣餃??????膩)>
<!ELEMENT ?葉?蜀_蝬?瘣餃???畾菔 (#PCDATA)>
<!ELEMENT ?葉?蜀_蝬?瘣餃????曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?葉?蜀_蝬?瘣餃??????膩 (#PCDATA)>
<!ELEMENT ?葉?蜀_敶批?????(?葉?蜀_敶扳??貊??桀?蝔? ?葉?蜀_敶扳??貊??桃??蜀, ?葉?蜀_敶扳??貊??格?摮?餈?>
<!ELEMENT ?葉?蜀_敶扳???(?葉?蜀_敶批?????>
<!ELEMENT ?葉?蜀_敶扳??貊??桀?蝔?(#PCDATA)>
<!ELEMENT ?葉?蜀_敶扳??貊??桃??蜀 (#PCDATA)>
<!ELEMENT ?葉?蜀_敶扳??貊??格?摮?餈?(#PCDATA)>
<!ELEMENT ?葉? (?葉?蝝??)>
<!ELEMENT ?葉?蝝??(?葉?_?交?, ?葉?_憿, ?葉?_甈⊥, ?葉?_鈭)>
<!ELEMENT ?葉?_?交? (#PCDATA)>
<!ELEMENT ?葉?_憿 (#PCDATA)>
<!ELEMENT ?葉?_甈⊥ (#PCDATA)>
<!ELEMENT ?葉?_鈭 (#PCDATA)>
<!ELEMENT 蝷曉?瘣餃? (蝷曉?瘣餃??批捆+)>
<!ELEMENT 蝷曉?瘣餃??批捆 (蝷曉??迂, 蝷曉?瘣餃??蜀)>
<!ELEMENT 蝷曉??迂 (#PCDATA)>
<!ELEMENT 蝷曉?瘣餃??蜀 (#PCDATA)>
<!-- 4.摮貊??葉鞈? 蝯? -->
<!-- 摮貊?摮貊?鞈? DTD 鞈?蝯? -->