include/xml/student_call-2_0.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ??其?撟港?鞎怨玨蝔飛??蝮曇???摮貊??餃?鞈?鈭斗?閬璅?銋?摮貊?摮貊?鞈? DTD 2.0 ??2002.05 -->

<!-- 摮貊?摮貊?鞈? DTD 鞈?韏瑕? -->

<!-- 1.摮貊??箸鞈? 韏瑕? -->
<!ELEMENT 頨思遢霅???(?箸鞈?, 摮豢?鞈?, ?啣?鞈?, ?葉鞈??)>
<!ELEMENT ?箸鞈? (?箇?鞈?, 頨怠?霅??? ??窗鞈?, 銝剛??蝐?, 摮貊??剔??扯釭, ?亙飛???脰???, ?Ｖ耨璆剜???? ?嗉扛?箸鞈?, 瘥扛?箸鞈?, 蟡?箸鞈?, 蟡??箸鞈?, ??風鈭? ??憪此, ?嗡?閬芸惇, 頛???鞈?)>
<!ELEMENT ?箇?鞈? (摮貉?, 摮貊?憪?, ?批, ?箇?撟湔??? 銵?? ?箇??? ?曉撟渡?, ?曉?剔?, ?曉摨扯?, 摮貊?頨思遢??)>
<!ELEMENT 摮貉? (#PCDATA)>
<!ELEMENT 摮貊?憪? (#PCDATA)>
<!ELEMENT ?批 (#PCDATA)>
<!ELEMENT ?箇?撟湔???(#PCDATA)>
<!ELEMENT 銵??(#PCDATA)>
<!ELEMENT ?箇???(#PCDATA)>
<!ELEMENT ?曉撟渡? (#PCDATA)>
<!ELEMENT ?曉?剔? (#PCDATA)>
<!ELEMENT ?曉摨扯? (#PCDATA)>
<!ELEMENT 摮貊?頨思遢??(#PCDATA)>
<!ELEMENT 頨怠?霅???(??, 霅蝔桅?, 頨怠?霅?蝣? ????+>
<!ELEMENT ?? (#PCDATA)>
<!ELEMENT 霅蝔桅? (#PCDATA)>
<!ELEMENT 頨怠?霅?蝣?(#PCDATA)>
<!ELEMENT ????(#PCDATA)>
<!ELEMENT ??窗鞈? (?嗥??啣?, ??窗?啣?, ?嗥??啣??餉店?, ?舐窗?餉店?, 銵??餉店?, ?餃??萎辣靽∠拳)>
<!ELEMENT ?嗥??啣? (#PCDATA)>
<!ELEMENT ??窗?啣? (#PCDATA)>
<!ELEMENT ?嗥??啣??餉店 (#PCDATA)>
<!ELEMENT ?舐窗?餉店 (#PCDATA)>
<!ELEMENT 銵??餉店 (#PCDATA)>
<!ELEMENT ?餃??萎辣靽∠拳 (#PCDATA)>
<!ELEMENT 銝剛??蝐? (蝮???? ?撣??? ??, ?? 頝航?, 畾? 撌? 撘? ?? 銋? 璅? 璅?, ?嗡?)>
<!ELEMENT 蝮????(#PCDATA)>
<!ELEMENT ?撣???(#PCDATA)>
<!ELEMENT ?? (#PCDATA)>
<!ELEMENT ??(#PCDATA)>
<!ELEMENT 頝航? (#PCDATA)>
<!ELEMENT 畾?(#PCDATA)>
<!ELEMENT 撌?(#PCDATA)>
<!ELEMENT 撘?(#PCDATA)>
<!ELEMENT ??(#PCDATA)>
<!ELEMENT 銋?(#PCDATA)>
<!ELEMENT 璅?(#PCDATA)>
<!ELEMENT 璅? (#PCDATA)>
<!ELEMENT ?嗡? (#PCDATA)>
<!ELEMENT 摮貊??剔??扯釭 (?剔??扯釭, ?寞??剝??? ?寞??剔?? ?寞??凋?隤脫扯釭)>
<!ELEMENT ?剔??扯釭 (#PCDATA)>
<!ELEMENT ?寞??剝???(#PCDATA)>
<!ELEMENT ?寞??剔??(#PCDATA)>
<!ELEMENT ?寞??凋?隤脫扯釭 (#PCDATA)>
<!ELEMENT ?亙飛???脰???(撟潛??摮?| ???亙飛)>
<!ELEMENT 撟潛??摮?(撟潛??摮貉??? ??典飛?∩誨蝣嫻撟潛??? 摮豢?迂_撟潛????>
<!ELEMENT 撟潛??摮貉???(#PCDATA)>
<!ELEMENT ??典飛?∩誨蝣嫻撟潛???(#PCDATA)>
<!ELEMENT 摮豢?迂_撟潛???(#PCDATA)>
<!ELEMENT ???亙飛 (???亙飛鞈, ??典飛?∩誨蝣嫻??, 摮豢?迂_??)?>
<!ELEMENT ???亙飛鞈 (#PCDATA)>
<!ELEMENT ??典飛?∩誨蝣嫻?? (#PCDATA)>
<!ELEMENT 摮豢?迂_?? (#PCDATA)>
<!ELEMENT ?Ｖ耨璆剜????(?Ｖ耨璆剖, ?交?_?Ｖ耨璆? 摮?Ｖ耨璆? ??Ｖ耨璆??>
<!ELEMENT ?Ｖ耨璆剖 (#PCDATA)>
<!ELEMENT ?交?_?Ｖ耨璆?(#PCDATA)>
<!ELEMENT 摮?Ｖ耨璆?(#PCDATA)>
<!ELEMENT ??Ｖ耨璆?(#PCDATA)>
<!ELEMENT ?嗉扛?箸鞈? (憪?_?嗉扛, ?箇?撟湔活_?嗉扛, 摮倍_?嗉扛, ???, 頨怠?霅??否?嗉扛, ?蝔漲_?嗉扛, ?瑟平_?嗉扛, ???桐?_?嗉扛, ?瑞迂_?嗉扛, ?餉店?Ⅳ-?柯?嗉扛, ?餉店?Ⅳ-摰?嗉扛, 銵??餉店_?嗉扛, ?餃??萎辣靽∠拳_?嗉扛)?>
<!ELEMENT 憪?_?嗉扛 (#PCDATA)>
<!ELEMENT ?箇?撟湔活_?嗉扛 (#PCDATA)>
<!ELEMENT 摮倍_?嗉扛 (#PCDATA)>
<!ELEMENT ??? (#PCDATA)>
<!ELEMENT 頨怠?霅??否?嗉扛 (#PCDATA)>
<!ELEMENT ?蝔漲_?嗉扛 (#PCDATA)>
<!ELEMENT ?瑟平_?嗉扛 (#PCDATA)>
<!ELEMENT ???桐?_?嗉扛 (#PCDATA)>
<!ELEMENT ?瑞迂_?嗉扛 (#PCDATA)>
<!ELEMENT ?餉店?Ⅳ-?柯?嗉扛 (#PCDATA)>
<!ELEMENT ?餉店?Ⅳ-摰?嗉扛 (#PCDATA)>
<!ELEMENT 銵??餉店_?嗉扛 (#PCDATA)>
<!ELEMENT ?餃??萎辣靽∠拳_?嗉扛 (#PCDATA)>
<!ELEMENT 瘥扛?箸鞈? (憪?_瘥扛, ?箇?撟湔活_瘥扛, 摮倍_瘥扛, ????, 頨怠?霅??否瘥扛, ?蝔漲_瘥扛, ?瑟平_瘥扛, ???桐?_瘥扛, ?瑞迂_瘥扛, ?餉店?Ⅳ-?柯瘥扛, ?餉店?Ⅳ-摰瘥扛, 銵??餉店_瘥扛, ?餃??萎辣靽∠拳_瘥扛)?>
<!ELEMENT 憪?_瘥扛 (#PCDATA)>
<!ELEMENT ?箇?撟湔活_瘥扛 (#PCDATA)>
<!ELEMENT 摮倍_瘥扛 (#PCDATA)>
<!ELEMENT ???? (#PCDATA)>
<!ELEMENT 頨怠?霅??否瘥扛 (#PCDATA)>
<!ELEMENT ?蝔漲_瘥扛 (#PCDATA)>
<!ELEMENT ?瑟平_瘥扛 (#PCDATA)>
<!ELEMENT ???桐?_瘥扛 (#PCDATA)>
<!ELEMENT ?瑞迂_瘥扛 (#PCDATA)>
<!ELEMENT ?餉店?Ⅳ-?柯瘥扛 (#PCDATA)>
<!ELEMENT ?餉店?Ⅳ-摰瘥扛 (#PCDATA)>
<!ELEMENT 銵??餉店_瘥扛 (#PCDATA)>
<!ELEMENT ?餃??萎辣靽∠拳_瘥扛 (#PCDATA)>
<!ELEMENT 蟡?箸鞈? (憪?_蟡, 摮倍_蟡)?>
<!ELEMENT 憪?_蟡 (#PCDATA)>
<!ELEMENT 摮倍_蟡 (#PCDATA)>
<!ELEMENT 蟡??箸鞈? (憪?_蟡?, 摮倍_蟡?)?>
<!ELEMENT 憪?_蟡? (#PCDATA)>
<!ELEMENT 摮倍_蟡? (#PCDATA)>
<!ELEMENT ??風鈭?(憪?_??風鈭? ?霅瑚犖銋?靽? 頨怠?霅??否??風鈭? ?啣?_??風鈭? ???桐?_??風鈭? ?瑞迂_??風鈭? ?舐窗?餉店_??風鈭?, 銵??餉店_??風鈭?, ?餃??萎辣靽∠拳_??風鈭?)>
<!ELEMENT 憪?_??風鈭?(#PCDATA)>
<!ELEMENT ?霅瑚犖銋?靽?(#PCDATA)>
<!ELEMENT 頨怠?霅??否??風鈭?(#PCDATA)>
<!ELEMENT ?啣?_??風鈭?(#PCDATA)>
<!ELEMENT ???桐?_??風鈭?(#PCDATA)>
<!ELEMENT ?瑞迂_??風鈭?(#PCDATA)>
<!ELEMENT ?舐窗?餉店_??風鈭?(#PCDATA)>
<!ELEMENT 銵??餉店_??風鈭?(#PCDATA)>
<!ELEMENT ?餃??萎辣靽∠拳_??風鈭?(#PCDATA)>
<!ELEMENT ??憪此 (憪?_??憪此, ??憪此蝔梯?, 撠梯?摮豢_??憪此)*>
<!ELEMENT 憪?_??憪此 (#PCDATA)>
<!ELEMENT ??憪此蝔梯? (#PCDATA)>
<!ELEMENT 撠梯?摮豢_??憪此 (#PCDATA)>
<!ELEMENT ?嗡?閬芸惇 (憪?_?嗡?閬芸惇, 閬芸惇蝔梯?, ?舐窗?餉店_?嗡?閬芸惇, 銵??餉店_?嗡?閬芸惇, ?餃??萎辣靽∠拳_?嗡?閬芸惇)*>
<!ELEMENT 憪?_?嗡?閬芸惇 (#PCDATA)>
<!ELEMENT 閬芸惇蝔梯? (#PCDATA)>
<!ELEMENT ?舐窗?餉店_?嗡?閬芸惇 (#PCDATA)>
<!ELEMENT 銵??餉店_?嗡?閬芸惇 (#PCDATA)>
<!ELEMENT ?餃??萎辣靽∠拳_?嗡?閬芸惇 (#PCDATA)>
<!ELEMENT 頛???鞈? (??蝺刻?, ??靘?, ?交??交?, 隤??葦, ??憿, ?榆銵, ?拇?銝??, 蝯??? 蝯???, 蝯??交?, 頛??交?*, 頛??批捆*, ???蝺刻??)>
<!ELEMENT ??蝺刻? (#PCDATA)>
<!ELEMENT ??靘? (#PCDATA)>
<!ELEMENT ?交??交? (#PCDATA)>
<!ELEMENT 隤??葦 (#PCDATA)>
<!ELEMENT ??憿 (#PCDATA)>
<!ELEMENT ?榆銵 (#PCDATA)>
<!ELEMENT ?拇?銝?? (#PCDATA)>
<!ELEMENT 蝯???(#PCDATA)>
<!ELEMENT 蝯??? (#PCDATA)>
<!ELEMENT 蝯??交? (#PCDATA)>
<!ELEMENT 頛??交? (#PCDATA)>
<!ELEMENT 頛??批捆 (#PCDATA)>
<!ELEMENT ???蝺刻? (#PCDATA)>
<!-- 1.摮貊??箸鞈? 蝯? -->

<!-- 2.摮貊?摮豢?鞈? 韏瑕? -->
<!ELEMENT 摮豢?鞈? (?摮豢?鞈?*)>
<!ELEMENT ?摮豢?鞈? (?剔?摨扯?, ?撘蝝? 摮豢?蝻箏葉, 摮豢??蜀, ?寞??芾銵函, 敹?皜祇??蜀, 頛??箸鞈?, 頛?閮芾?閮?)>
<!ATTLIST ?摮豢?鞈?
	摮詨僑??CDATA #REQUIRED
	摮豢???(銝 | 鈭? #REQUIRED
>
<!ELEMENT ?剔?摨扯? (撟渡?, ?剔?, 摨扯?)>
<!ELEMENT 撟渡? (#PCDATA)>
<!ELEMENT ?剔? (#PCDATA)>
<!ELEMENT 摨扯? (#PCDATA)>
<!ELEMENT ?撘蝝?(撟渡?_?撘? ?剔?_?撘? 摨扯?_?撘?>
<!ELEMENT 撟渡?_?撘?(#PCDATA)>
<!ELEMENT ?剔?_?撘?(#PCDATA)>
<!ELEMENT 摨扯?_?撘?(#PCDATA)>
<!ELEMENT 摮豢?蝻箏葉 (蝻箏葉憿, 蝻箏葉憭拇)*>
<!ELEMENT 蝻箏葉憿 (#PCDATA)>
<!ELEMENT 蝻箏葉憭拇 (#PCDATA)>
<!ELEMENT 摮豢??蜀 (隤?, ?詨飛, ?芰??瘣餌???, 蝷暹??, ???犖??, ?暑隤脩??, ?亙熒???? 蝬?瘣餃?, 敶扯玨蝔? ?亙虜?暑銵函)>
<!ELEMENT 隤? (摮貊????曉??嗆?蝮震隤?, 摮貊??????膩_隤?, ??蝘_隤?)>
<!ELEMENT 摮貊????曉??嗆?蝮震隤? (#PCDATA)>
<!ELEMENT 摮貊??????膩_隤? (#PCDATA)>
<!ELEMENT ??蝘_隤? (?砍?隤??曉??嗆?蝮? ??隤??曉??嗆?蝮? ?梯??曉??嗆?蝮?)>
<!ELEMENT ?砍?隤??曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ??隤??曉??嗆?蝮?(#PCDATA)>
<!ATTLIST ??隤??曉??嗆?蝮?
	??隤?憿 (?拙?隤?| 摰Ｗ振隤?| ?輻?隤?| ??隤?| 撣噙隤?| ?隤?| 擳臬隤?| 鞈賢?隤?| ??隤?| 瘜圈?隤?| ?? | 鞈賢噸?? | ?嗥?剛? | ?菔? | 蝳?隤? #REQUIRED
>
<!ELEMENT ?梯??曉??嗆?蝮?(#PCDATA)>
<!ELEMENT ?詨飛 (摮貊????曉??嗆?蝮震?詨飛, 摮貊??????膩_?詨飛)>
<!ELEMENT 摮貊????曉??嗆?蝮震?詨飛 (#PCDATA)>
<!ELEMENT 摮貊??????膩_?詨飛 (#PCDATA)>
<!ELEMENT ?芰??瘣餌?? (摮貊????曉??嗆?蝮震?芰, 摮貊??????膩_?芰)>
<!ELEMENT 摮貊????曉??嗆?蝮震?芰 (#PCDATA)>
<!ELEMENT 摮貊??????膩_?芰 (#PCDATA)>
<!ELEMENT 蝷暹? (摮貊????曉??嗆?蝮震蝷暹?, 摮貊??????膩_蝷暹?)>
<!ELEMENT 摮貊????曉??嗆?蝮震蝷暹? (#PCDATA)>
<!ELEMENT 摮貊??????膩_蝷暹? (#PCDATA)>
<!ELEMENT ???犖??(摮貊????曉??嗆?蝮震??, 摮貊??????膩_??)>
<!ELEMENT 摮貊????曉??嗆?蝮震?? (#PCDATA)>
<!ELEMENT 摮貊??????膩_?? (#PCDATA)>
<!ELEMENT ?暑隤脩? (摮貊????曉??嗆?蝮震?暑, 摮貊??????膩_?暑)>
<!ELEMENT 摮貊????曉??嗆?蝮震?暑 (#PCDATA)>
<!ELEMENT 摮貊??????膩_?暑 (#PCDATA)>
<!ELEMENT ?亙熒????(摮貊????曉??嗆?蝮震?仿?, 摮貊??????膩_?仿?)>
<!ELEMENT 摮貊????曉??嗆?蝮震?仿? (#PCDATA)>
<!ELEMENT 摮貊??????膩_?仿? (#PCDATA)>
<!ELEMENT 蝬?瘣餃? (摮貊????曉??嗆?蝮震蝬?, 摮貊??????膩_蝬?)>
<!ELEMENT 摮貊????曉??嗆?蝮震蝬? (#PCDATA)>
<!ELEMENT 摮貊??????膩_蝬? (#PCDATA)>
<!ELEMENT 敶扯玨蝔?(??蝘_敶?)>
<!ELEMENT ??蝘_敶?(敶扯玨蝔??桀?蝔? 敶扯玨蝔??桃??蜀)>
<!ELEMENT 敶扯玨蝔??桀?蝔?(#PCDATA)>
<!ELEMENT 敶扯玨蝔??桃??蜀 (#PCDATA)>
<!ELEMENT ?亙虜?暑銵函 (摮貊????曉??嗆?蝮震?亙虜?暑, 摮貊??????膩_?亙虜?暑)>
<!ELEMENT 摮貊????曉??嗆?蝮震?亙虜?暑 (#PCDATA)>
<!ELEMENT 摮貊??????膩_?亙虜?暑 (#PCDATA)>
<!ELEMENT ?寞??芾銵函 (?芾銵函鈭?*)>
<!ELEMENT ?芾銵函鈭? (?交?_?芾銵函, ?芾銵函鈭)>
<!ELEMENT ?交?_?芾銵函 (#PCDATA)>
<!ELEMENT ?芾銵函鈭 (#PCDATA)>
<!ELEMENT 敹?皜祇??蜀 (敹?皜祇??賣葫*)>
<!ELEMENT 敹?皜祇??賣葫 (敹?皜祇?蝺刻?, 皜祇??蜀?葉?陛蝔? ?蜀蝺刻?, 鞈?靘?, 雿輻???”蝺刻?, 皜祇??蜀?葉???>
<!ELEMENT 敹?皜祇?蝺刻? (#PCDATA)>
<!ELEMENT 皜祇??蜀?葉?陛蝔?(#PCDATA)>
<!ELEMENT ?蜀蝺刻? (#PCDATA)>
<!ELEMENT 鞈?靘? (#PCDATA)>
<!ELEMENT 雿輻???”蝺刻? (#PCDATA)>
<!ELEMENT 皜祇??蜀?葉???(#PCDATA)>
<!ELEMENT 頛??箸鞈? (?嗆???, 摰嗅滬憿?, 摰嗅滬瘞??, ?嗥恣?撘? 瘥恣?撘? 撅??耦, 蝬??瘜? ???蝘, ??圈蝘, ?寞??, ?閎, ?暑蝧, 鈭粹???, 憭?銵, ?批?銵, 摮貊?銵, 銝蝧, ?行銵)>
<!ELEMENT ?嗆??? (#PCDATA)>
<!ELEMENT 摰嗅滬憿? (#PCDATA)>
<!ELEMENT 摰嗅滬瘞?? (#PCDATA)>
<!ELEMENT ?嗥恣?撘?(#PCDATA)>
<!ELEMENT 瘥恣?撘?(#PCDATA)>
<!ELEMENT 撅??耦 (#PCDATA)>
<!ELEMENT 蝬??瘜?(#PCDATA)>
<!ELEMENT ???蝘 (#PCDATA)>
<!ELEMENT ??圈蝘 (#PCDATA)>
<!ELEMENT ?寞?? (#PCDATA)>
<!ELEMENT ?閎 (#PCDATA)>
<!ELEMENT ?暑蝧 (#PCDATA)>
<!ELEMENT 鈭粹??? (#PCDATA)>
<!ELEMENT 憭?銵 (#PCDATA)>
<!ELEMENT ?批?銵 (#PCDATA)>
<!ELEMENT 摮貊?銵 (#PCDATA)>
<!ELEMENT 銝蝧 (#PCDATA)>
<!ELEMENT ?行銵 (#PCDATA)>
<!ELEMENT 頛?閮芾?閮? (頛?閮芾?閮??批捆*)>
<!ELEMENT 頛?閮芾?閮??批捆 (閮??交?, ??窗撠情, ??窗鈭?, ?批捆閬?)*>
<!ELEMENT 閮??交? (#PCDATA)>
<!ELEMENT ??窗撠情 (#PCDATA)>
<!ELEMENT ??窗鈭? (#PCDATA)>
<!ELEMENT ?批捆閬? (#PCDATA)>
<!-- 2.摮貊?摮豢?鞈? 蝯? -->

<!-- 3.摮貊??啣?鞈? 韏瑕? -->
<!ELEMENT ?啣?鞈? (???啣?鞈?*)>
<!ELEMENT ???啣?鞈? (?啣??∪?, ?啣??交?, ?啣??詨?璈??迂, ?啣??詨???)>
<!ATTLIST ???啣?鞈?
	?啣?摮詨僑 CDATA #REQUIRED
	?啣?摮豢? (銝 | 鈭? #REQUIRED
>
<!ELEMENT ?啣??∪? (??典飛?∩誨蝣? 摮豢?迂)>
<!ELEMENT ??典飛?∩誨蝣?(#PCDATA)>
<!ELEMENT 摮豢?迂 (#PCDATA)>
<!ELEMENT ?啣??交? (撟復?啣??交?, ??啣??交?, ?北?啣??交?)>
<!ELEMENT 撟復?啣??交? (#PCDATA)>
<!ELEMENT ??啣??交? (#PCDATA)>
<!ELEMENT ?北?啣??交? (#PCDATA)>
<!ELEMENT ?啣??詨?璈??迂 (#PCDATA)>
<!ELEMENT ?啣??詨??? (?交?_?詨???, 摮?詨???, ??詨???)>
<!ELEMENT ?交?_?詨??? (#PCDATA)>
<!ELEMENT 摮?詨??? (#PCDATA)>
<!ELEMENT ??詨??? (#PCDATA)>
<!-- 3.摮貊??啣?鞈? 蝯? -->

<!-- 4.摮貊??葉鞈? 韏瑕? -->
<!ELEMENT ?葉鞈? (?葉蝻箏葉, ?葉?蜀, ?葉?, 蝷曉?瘣餃?)>
<!ELEMENT ?葉蝻箏葉 (撟復?葉蝻箏葉, ??葉蝻箏葉, 蝻箏葉憿_?葉, 蝻箏葉憭拇_?葉)*>
<!ELEMENT 撟復?葉蝻箏葉 (#PCDATA)>
<!ELEMENT ??葉蝻箏葉 (#PCDATA)>
<!ELEMENT 蝻箏葉憿_?葉 (#PCDATA)>
<!ELEMENT 蝻箏葉憭拇_?葉 (#PCDATA)>
<!ELEMENT ?葉?蜀 (?葉???蜀*)>
<!ELEMENT ?葉???蜀 (#PCDATA)>
<!ELEMENT ?葉? (?葉?閮?*)>
<!ELEMENT ?葉?閮? (?交?_?葉?, 憿_?葉?, 甈⊥_?葉?, ?葉?鈭)>
<!ELEMENT ?交?_?葉? (#PCDATA)>
<!ELEMENT 憿_?葉? (#PCDATA)>
<!ELEMENT 甈⊥_?葉? (#PCDATA)>
<!ELEMENT ?葉?鈭 (#PCDATA)>
<!ELEMENT 蝷曉?瘣餃? (蝷曉?瘣餃??批捆*, ?剔?瘣餃?, 摮貊??芣祥?暑?? 摮豢靘?瘣餃?)>
<!ELEMENT 蝷曉?瘣餃??批捆 (蝷曉??迂, 蝷曉?瘣餃??蜀)>
<!ELEMENT 蝷曉??迂 (#PCDATA)>
<!ELEMENT 蝷曉?瘣餃??蜀 (#PCDATA)>
<!ELEMENT ?剔?瘣餃? (#PCDATA)>
<!ELEMENT 摮貊??芣祥?暑??(#PCDATA)>
<!ELEMENT 摮豢靘?瘣餃? (#PCDATA)>
<!-- 4.摮貊??葉鞈? 蝯? -->

<!-- 摮貊?摮貊?鞈? DTD 鞈?蝯? -->
